{#{% extends '::base.html.twig' %}#}
<!DOCTYPE html>
<html lang="es">
    <head>
        {%block head -%} 
            {% block meta -%}
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
            {% endblock%}
            <!-- Las 3 meta tags de arriba siempre tienen que incluirse y todo lo demas tiene que venir despues -->
            {% block title -%}<title>{% block titlename -%}Sonodigest - El Salvador{% endblock %}</title>{% endblock %}

            <!-- Declaracion de Archivo de Bootstrap -->	
            {% block css -%}    
                <link rel="stylesheet" href="{{ asset('Resources/bValidator-0.73/themes/bvalidator.theme.bootstrap.rt.css') }}" />
                {# <link rel="stylesheet" href="{{ asset('Resources/bootstrap-3/css/bootstrap.css') }}" />#}
                <link rel="stylesheet" href="{{ asset('Resources/css/bootstrap.css') }}" />
                <link rel="stylesheet" href="{{ asset('Resources/css/style.css') }}" />
                <link rel="stylesheet" href="{{ asset('Resources/css/panel.css') }}" />
                
                
                
                <link rel="stylesheet" href="{{ asset('Resources/css/photoswipe.css') }}"> 
                <link rel="stylesheet" href="{{ asset('Resources/css/default-skin/default-skin.css') }}"> 


                <!-- Bootstrap -->
        {#<link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/bootstrap.css') }}">#}
        <!-- Bootstrap -->
        <!-- Dependencies -->
        <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/dependencies.css') }}">
        <!-- endDependencies -->
        <!-- Wrapkit -->
        <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/wrapkit.css') }}">
        <!-- endWrapkit -->

        <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/components.css') }}">

        <link rel="stylesheet" href="{{ asset('Resources/ptTimeSelect/css/jquery.ptTimeSelect.css') }}">
        <link rel="stylesheet" href="{{ asset('Resources/zebra/css/bootstrap.css') }}">

        <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/pages.css') }}">
        <!-- fullcalendar -->
        <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
        <link rel="stylesheet" href="{{ asset('Resources/fullcalendar/css/fullcalendar.print.css') }}" media="print"/>
        <link rel="stylesheet" href="{{ asset('Resources/bValidator-0.73/themes/bvalidator.theme.bootstrap.rt.css') }}" />
        
        <style>
            .active{
                background: #76B9C4;
                color:#FFF;
            }
            .inactive{
                background: #FFF;
                color: #76B9C4;
            }
            .botonpanel{
                padding: 10px;
                border-radius: 5px;
{#                margin:25px 5px -15px 5px;#}
                margin-top:35px;
                border:1px solid #76B9C4;
                width:100%;
                
            }
            .botonpanel:hover{
                background: #76B9C4;
                opacity:0.5;
                color:#FFF;
                
            }
        </style>
                {%- endblock %}
                {%- endblock%}
            </head>
            <body>

                {% block body -%}
                    <!-- Barra de navegacion -->
                    {% block navigation %}
                        {% include 'SonodigestBundle:Layout:navigation.html.twig'%}
                    {% endblock %}
                    
                    
                    
                  <!-- Core CSS file -->



                    
                    
                    
                    
                    
                    
                    
                    
{% block fotos_filtro %}
    
    <div class="container text-center">
        <div class="row">
            <div class="clearfix"></div>
            <div class="col-md-2">
                <div class="botonpanel active ">Todas</div>
            </div>
            {% for categoriaImagen in categoriasImagenes %}
                <div class="col-md-2">
                    <div class="botonpanel inactive" id="{{categoriaImagen.id}}" >
                        {{categoriaImagen.nombre}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block fotos %}
   
    <div class="row" style="margin-top:50px; margin-bottom: 50px;">
        <div class="container">
            <div class="content-body">
                <div id="gallery" class="gallery-content gallery-grid" itemscope itemtype="http://schema.org/ImageGallery">
                    {% include 'SonodigestBundle:Galeria:mostrarfotos.html.twig'%}
            </div>
                        </div>
            </div>
            </div><!-- /.gallery-content -->
    
         
    
            
            
            
            
            <!-- Photoswipe fs template -->
        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

          <!-- Background of PhotoSwipe.
          It's a separate element as animating opacity is faster than rgba(). -->
          <div class="pswp__bg"></div>

          <!-- Slides wrapper with overflow:hidden. -->
          <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
              <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
                </div><!-- /.pswp__preloader -->
              </div><!-- /.pswp__top-bar -->

              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
              </div><!-- /.pswp__share -->

              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>

              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>

              <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
              </div>

            </div><!-- /.pswp__ui -->
          </div><!-- /.pswp__scroll-wrap -->
        </div><!-- /.pswp -->


        <!-- Template Setups -->
        <div class="modal fade" id="templateSetup">
          <div class="modal-dialog">
            <!-- modal-content -->
            <div class="modal-content"></div>
          </div><!-- /.modal-dialog -->
        </div><!-- /.templateSetup -->

      </div><!-- /.content -->
    </section><!-- /MAIN -->

  
            
            
            
            
                
{% endblock %}

{% block categorias_filtro %}
    
{% endblock %}
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                {% block foot %}
                    {% include 'SonodigestBundle:Layout:footer.html.twig'%}
                {% endblock %}  
                {% endblock %}
                
                {% block javascripts_step %}
                    <script type="text/javascript" src="{{ asset('Resources/jquery/jquery_1.11.3.js')}}"></script>
                    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
                    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
                    <script src="{{ asset('Resources/funciones_validacion/usuario.js') }}"></script>
                    <script src="{{asset('http://snapwidget.com/js/snapwidget.js')}}"></script>
                    <!-- jQuery (Necesario para que los Plugins de Bootstrap) -->
                    <script src="{{asset('https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')}}"></script>
                    <!-- Aqui estan todos los Plugins que contiene el Framework de Boostrap -->
                    <script src="{{asset('Resources/js/bootstrap.js')}}"></script>
                    <!-- Core JS file -->
                    

                    
                    
                   
  
  
                   <script src="{{ asset('Resources/wrapkit/scripts/vendor.js') }}"></script>
        <!-- END VENDORS -->
        <!-- DEPENDENCIES : Required plugins -->
        <script src="{{ asset('Resources/wrapkit/scripts/dependencies.js') }}"></script>
        <!-- END DEPENDENCIES -->
    
        <!-- WRAPKIT -->
        <script src="{{ asset('Resources/wrapkit/scripts/wrapkit.js') }}"></script>
        <!-- END WRAPKIT -->
        <!-- WRAPKIT SETUPS -->
        <script src="{{ asset('Resources/wrapkit/scripts/wrapkit-setup.js') }}"></script>
        
        <!-- end WRAPKIT SETUPS -->
        
        <script src="{{ asset('Resources/wrapkit/scripts/morris.bundle.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/jquery.sparkline.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/jquery.tagsinput.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/jquery.mask.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/select2.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/jquery.selectBoxit.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/moment.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/daterangepicker.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/jquery-minicolors.js') }}"></script>
        {#<script src="{{ asset('Resources/wrapkit/scripts/fullcalendar.js') }}"></script>#}

        <script src="{{ asset('Resources/wrapkit/scripts/clndr.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/dataTables.bootstrap.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/dataTables.tableTools.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/jquery.validate.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/bootbox.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/toastr.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/bootstrap-editable.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/chartjs.js') }}"></script>
  
  
        <script src="{{asset('Resources/js/photoswipe/jquery.mixitup.js')}}"></script>
        <script src="{{asset('Resources/js/photoswipe/imagesloaded.pkgd.js')}}"></script>
        <script src="{{asset('Resources/js/photoswipe/photoswipe.pkgd.js')}}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/demo/page-gallery-demo.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
                    <script>
                        
                        
                        $(document).ready(function () {
                            var id = 0;
                            var arOriginal=[];
                            
                            $('.gallery-col').each(function( index, element ) {
                                    //alert("CLASE: "+$(element).attr('class'));
                                //if(!$(element).hasClass(id))  {
                                    //alert("Se encontro una clase: "+$(element).attr('class'));
                                    arOriginal.push($(element));
                              //      $(element).remove();
                            });
                                
                            $('.botonpanel').on('click',function(){
                                //$('#gallery').html('');
                                $('#gallery').html("<div class='col-md-12 text-center'><img src='{{ asset('Resources/img/loading.gif') }}'></div>");
                                $( ".botonpanel" ).each(function( index, element ) {
                                    $(element).removeClass('active');
                                    $(element).addClass('inactive');
                                });
                                $(this).addClass('active');
                                $(this).removeClass('inactive');
                                var idNuevo = $(this).attr('id');
                                //alert("nuevo: "+idNuevo);
                                if(id!=idNuevo){
                                    id=idNuevo;
                                    //alert("id: "+id);
                                }
                                
                                var url = Routing.generate('admin_recuperar_fotos', { id: id});
                                $('#gallery').load(url);
                                
                                //alert("Categoria: "+id);
                                //$('gallery-col').removeClass('gallery-col');
                                //var ar=[];
                                {#arOriginal.forEach(function(entry) {
                                    //console.log(entry);
                                    $('#gallery').append(entry);
                                });#}
                                {#if(id!=0){
                                    $('.gallery-col').each(function( index, element ) {
                                        //alert("CLASE: "+$(element).attr('class'));
                                        //$(element).fadeIn(1600);
                                        if(!$(element).hasClass(id))  {
                                            //alert("Se encontro una clase: "+$(element).attr('class'));
                                            //ar.push($(element).html());
                                            //$(element).fadeOut(1600);
                                            $(element).remove();
                                        }    
                                    });
                                }#}
                                //$('.filter-result').hide();
                                //alert(ar[0]);
                                //$("."+id).show();
                                
                            });
                            
                        });
                    </script>
                {% endblock %}
            </body>
        </html>


