<div class="col-md-9">
    <!-- Blog Item -->
    {% for entrada in entradas %}
        <img src="
            {% if entrada.idimagen %}
                
                {{ asset('Photos/imagenblog/')}}{{entrada.idimagen.imagen1}}
            
            {% else %}
                http://placehold.it/900x300
            {% endif %} 
            
            " style="max-width: 100%; width: 100%; margin-top: 30px;">
        <h2 class="text-uppercase blogtitulo">{{entrada.titulo}} </h2>
        <p style="font-weight: 300; font-size: 12px;">Publicado el 
            
            {#{{ entrada.fecha|date("d-m-Y") }} #}
            {{entrada.fecha|date("d M Y", "America/El_Salvador")|replace({
						'Jan'  : 'enero',
						'Feb'  : 'febrero',
						'Mar'  : 'marzo',
						'Apr'  : 'abril',
						'May'  : 'mayo',
						'Jun'  : 'junio',
						'Jul'  : 'julio',
						'Aug'  : 'agosto',
						'Sep'  : 'septiembre',
						'Oct'  : 'octrube',
						'Nov'  : 'noviembre',
						'Dec'  : 'diciembre',
					})      
            }}
            
            | Por: {{entrada.escritapor}} | Categoria: {{entrada.idcategoria}}</p>
        <div style="font-weight: 300; font-size: 13px;" class="contenidoEntrada" id="{{entrada.id}}">
            
            {#{{ entrada.contenido|length > 150 ? entrada.contenido|slice(0, 150) ~ '...' : entrada.contenido  }}#}
            {{ entrada.contenido}}
        </div>
        <div class="pull-right"><button class="btn text-uppercase blogboton">Leer más</button></div>
        <div style="margin-top: 60px;"></div>
        <hr>
        <!-- Fin Blog Item -->
    {% endfor %}

    
</div>
    
  {% block javascripts_step3 %}
                    
                    
                    
                    <script>
                            
                            $(".contenidoEntrada").shorten({
                                "showChars" : 150,
                                "moreText"  : "",
                                "lessText"  : "",
                            });
                            
                            
                           
                        
                    </script>
                {% endblock %}