{% extends 'SonodigestBundle:Layout:layoutpanel.html.twig' %}



{% block bod -%}
    
    <div class="container">
        <h2 class="text-center" style="color: #828282; margin-top: 70px; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">EDITAR IMAGENES</h2>
        <div style="width: 60px; border-top: 2px solid #09F; margin-left: auto; margin-right: auto; margin-top: 10px;"></div></h2>     
    
     <div class="panel-body">
            {{ form_start(edit_form) }}
                {{ form_errors(edit_form) }}
          <div class="row container-fluid">  
             <div class="row col-md-6 " style="margin-bottom:50px">

                 <div {{ form_row(edit_form.detalle) }}</div>
                         
              </div> 
              
            </div> 
              
              <div  style="margin-bottom:20px" class="placas" data-prototype="{% filter escape %}  {% include 'SonodigestBundle:Prototype:foto.html.twig' with { 'form': edit_form.placas.vars.prototype} %}   {% endfilter  %}"> 

                      {% for placa in edit_form.placas %}
                                        
                       <div class="col-md-4">
                         <div class="panel bg-grd-light" data-fill-color="true">
                            <div class="panel-body">

                                  {{ form_row(placa) }}   
 
                            </div>
                         </div>
                       </div>        
                       {% endfor %}
              </div>
                      
           </div>
    <div class="col-sm-12 col-md-12"> 
        <center><a href="{{ path('admin_tipocarrusel') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Regresar al listado</a> {{ form_widget(edit_form.submit) }}</center>
         
    </div>
   </div>
 
    </div>
   {{ form_end(edit_form) }}    
 {#   
    <h1>TipoCarrusel edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_tipocarrusel') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul> #}
{% endblock %}

{% block javascripts_step %}
    
 <script type="text/javascript" src="{{ asset('Resources/jquery/jquery_1.11.3.js')}}"></script>

<script>

// Get the ul that holds the collection of tags
var collectionHolder = $('div.placas');
var col=$('#hnr_sircimbundle_estudioradiologicotype_placas');
// setup an "add a tag" link
var $addTagLink = $('<div class="col-md-2"><a href="#" class=" botonpanel btn btn-primary ">Agregar otra imagen</a></div>');
var $removeTagLink = $('<a href="#" class="remove_placa_link btn btn-danger">Eliminar</a>');
var $newLinkLi = $('<div class="col-md-12 addItem"></div>').append($addTagLink);
var $delLinkLi = $('#hnr_sircimbundle_estudioradiologicotype_placas.required').append($removeTagLink);





jQuery(document).ready(function() {

    //$("#dgplusbellebundle_consulta_pacienteSelectBoxItOptions li").remove();

  /*  $('#dgplusbellebundle_consulta_fechaConsulta').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    locale: {
                        format: 'YYYY-MM-DD'
                    },
                });*/

   //$('input[id$=dgplusbellebundle_plantilla_placas_]').selectBoxIt;

    collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));

    });

    

    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    collectionHolder.data('index', collectionHolder.find(':input').length);
    
    //Identificar que form esta activo
    var editar=$('div.placas').attr('id');
   // if(editar!='editar_usuario'){
        addTagForm(collectionHolder, $newLinkLi);   //Muestra un formulario en la carga de la página nuevo
   // }
    


    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkLi);
        // $('.btn_radio').attr('name', 'rol_predet');
    });


    
});


function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = collectionHolder.data('prototype');

    // get the new index
    var index = collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<div class="col-md-4"></div>').append(newForm);
    $newLinkLi.before($newFormLi);
    


    // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
    //validarPaquete(); 
    $('.btn_radio').click(function(event) {
        /* Act on the event */
        var id = $(this).attr('id');
        // alert(id);
        $('.btn_radio').prop('checked', false);
        $('#'+id).prop('checked', true);
        $('.btn_radio').removeClass('errorform');
    });
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<div class="row"><div class="col-md-1"><a class="link btn btn-danger" style="margin-left:35px" href="#">Eliminar</a></div></div>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $('input[name="rol_predet"]:checked').each(function() {
            //$(this).val() es el valor del checkbox correspondiente
           // alert('chequeado'); 
           $('#hnr_sircimbundle_usuariotype_placas_0_usroPredeterminado').prop('checked', true);
        });

        $tagFormLi.remove();
        
    });
}



 </script>
   
{% endblock %}