{% extends 'SonodigestBundle:Layout:layoutpanel.html.twig' %}

{% block css %}
    {{parent()}}
    <style>
        
        .collection>div:last-child {
                        position:absolute;
                    }

                    {#div.collection > div:nth-child(2) > div:nth-child(2) > a{
                        display: none;
                    }#}
                    img{
                        width: 100%;
                        
                    }
                    .archivo{
                        margin-top:10px;
                    }
                    .addItem{
                        position: absolute;
                        
                        float: right;
                        margin-bottom: 50px;
                        top: 10px;
                        left: -2px;
                    }

                        .addItem div {
                            position: absolute;
                        }
                    .col-md-4{
                        margin-top: 40px;
                    }
                    
                        .col-md-4 > div>div>  label{
                            display: none;
                            
                        }
                        
                        .col-md-4 > .col-md-1 >.link{
                            margin-top:-32px;
                            
                        }
                    
                    .col-md-7{
                        margin-top: -17px;
                        position:relative;
                        margin-left:-30px;
                    }
                    .link{
                        position:absolute;
                        margin-left:-15px;
                        margin-top:-25px;
                    }
                        
                    .panel{
                        box-shadow:none;
                        
                    }
  
    </style>
    
    {% endblock %}

{% block bod -%}
    
    <div class="container">
        <h2 class="text-center" style="color: #828282; margin-top: 70px; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">EDITAR IMAGENES</h2>
        <div style="width: 60px; border-top: 2px solid #09F; margin-left: auto; margin-right: auto; margin-top: 10px;"></div></h2>     
    
     <div class="panel-body">
            {{ form_start(edit_form) }}
                {{ form_errors(edit_form) }}
          <div class="row container-fluid">  
             <div class="row col-md-6 " style="margin-bottom:50px">

             {#    <div {{ form_row(edit_form.detalle) }}</div> #}
                         
              </div> 
              
            </div> 
              
              <div class="row">  
                        
                        <div class="clearfix"></div>
                        <div id="listadoa">
                            <div class="listado col-md-12">          
                                <div class="collection" data-prototype="{% filter escape %}  {% include 'SonodigestBundle:Prototype:fotos.html.twig' with { 'form': edit_form.placas.vars.prototype} %}   {% endfilter  %}"> 
                                    {% for key, imagen in edit_form.placas %}
                                        
                                    <div class="col-md-4">
                                      
                                         <div class="panel-body">
                                             <img class="archivo" itemprop="thumbnail" src="{{ asset('Photos/carrusel/')}}{{placas[key].imagen}}" alt="dummy image">
                                                {#{{ form_row(imagen.nombre) }} #}
                                                {{ form_row(imagen) }} 

                                         </div>
                                      
                                    </div>        
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>    
                      
           </div>
    <div class="col-sm-12 col-md-12"> 
        <center><a href="{{ path('admin_tipocarrusel') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Regresar al listado</a> {{ form_widget(edit_form.submit) }}</center>
         
    </div>
   </div>
 
    </div>
   {{ form_end(edit_form) }}    
 {#   
    <h1>TipoCarrusel edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_tipocarrusel') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul> #}
{% endblock %}

{% block javascripts_step %}
     
    
    <script type="text/javascript" src="{{ asset('Resources/jquery/jquery_1.11.3.js')}}"></script>
                    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
                    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
                    
                    <script src="{{asset('http://snapwidget.com/js/snapwidget.js')}}"></script>
                    <!-- jQuery (Necesario para que los Plugins de Bootstrap) -->
                    
                    <!-- Aqui estan todos los Plugins que contiene el Framework de Boostrap -->
                    <script src="{{asset('Resources/js/bootstrap.js')}}"></script>
                    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    
    <script>

    // Get the ul that holds the collection of tags
    var collectionHolder = $('div.collection');
        
    // setup an "add a tag" link
    var $addTagLink = $('<div class="col-md-12"  style="height:50px"><a href="#" class="add_collection_link btn btn-primary ">Agregar</a></div>');
    var $removeTagLink = $('<a href="#" class="btn btn-danger">Eliminar</a>');
    
    var $newLinkLi = $('<div class="col-md-2 addItem"></div>').append($addTagLink);
    var $delLinkLi = $('.foto').append($removeTagLink);
    


    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(input).parent().parent().parent().siblings('img').attr('src', e.target.result);
                $(input).parent().parent().parent().parent().parent().parent().siblings('img').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }


    jQuery(document).ready(function() {
        
        $(document).on("change",".imagen", function() {
        //var atributo=$(this).parent().siblings('img').attr('id');
            //alert('as');
            mostrarImagen(this);
        });
      
        collectionHolder.find('.panel-body').each(function() {
            addTagFormDeleteLink($(this));
            $('.link').css('margin-top','5px');
    });
    
    
                

    

    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);
   
    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    collectionHolder.data('index', collectionHolder.find(':input').length);
    
    //Identificar que form esta activo
    /*var editar=$('div.placas').attr('id');
    if(editar!='editar_usuario'){*/
        //addTagForm(collectionHolder, $newLinkLi);   //Muestra un formulario en la carga de la página nuevo
       
    //}
    


    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkLi);
        // $('.btn_radio').attr('name', 'rol_predet');
    });
    
    
});


function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = collectionHolder.data('prototype');

    // get the new index
    var index = collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<div class="col-md-4"><img style="margin-top:23px" class="archivo" src="http://placehold.it/1980x400"></div>').append(newForm);
    $newLinkLi.before($newFormLi);
    


    // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
     
}



function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<div class="col-md-1" ><a class="link btn btn-danger" href="#">Eliminar</a></div>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        

        $tagFormLi.remove();
        
    });
}



     </script>

     <!--ayuda a la previsualizacion de la imagen-->
<script type="text/javascript">
     
     
    //$("#userfile5").change(function(){
     //mostrarImagen5(this);
  //  });

</script>
     
{% endblock %} 