{% extends 'SonodigestBundle:Layout:layoutpanel.html.twig' %}
{% block titulo %}Lista de Categorias de Blog{% endblock %}

{% block bod -%}
    {#<h1>categoriablog list</h1>#}

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <!-- Aqui se dibuja el formulario-->
                {{ form_start(form) }}
                <div class="text-center">
                    <div class="col-md-6 text-center">
                        {{ form_label(form.nombre) }} 
                    </div>    
                    <div class="col-md-6 text-center">
                        {{ form_widget(form.nombre) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="clearfix"></div>

            <div class="col-md-4"></div>
            <div class="col-md-4"><div class="text-center">
                    {#<a href="{{ path('admin_categoria') }}">
                        <div class="botonpanel"> Regresar a la lista </div>
                    </a>#}
                    {{ form_widget(form.submit) }}
                </div></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="container"  style="padding-top: 20px;">
        <div class="row">
            <table class="table-bordered" style="margin:0 auto; width: 60%; ">
                <thead>
                    <tr>
                        {#<th class="text-center">Id</th>#}
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            {#<td><a href="{{ path('admin_categoriablog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                            <td class="text-center" style="width: 60%;">{{ entity.nombre }}</td>
                            <td class="text-justify" style="width: 60%;">
                                <ul>
                                    <li>
                                        <a href="{{ path('admin_categoriablog_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_categoriablog_edit', { 'id': entity.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {#<ul>
        <li>
            <a href="{{ path('admin_categoriablog_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}
{% endblock %}
