{% extends 'SonodigestBundle:Layout:layoutpanel.html.twig' %}
{% block titulo %}Crear Categoria Blog{% endblock %}
{% block bod -%}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <!-- Aqui se dibuja el formulario-->
                {{ form_start(form) }}
                <div class="text-center">
                    <div class="col-md-2 text-left">
                        {{ form_label(form.nombre) }} 
                    </div>    
                    <div class="col-md-6 text-left">
                        {{ form_widget(form.nombre) }}
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="clearfix"></div>

            <div class="col-md-4"></div>
            <div class="col-md-4"><div class="text-center">
                    <a href="{{ path('admin_categoria') }}">
                        <div class="botonpanel"> Regresar a la lista </div>
                    </a>
                        {{ form_widget(form.submit) }}
                </div></div>
            <div class="col-md-4"></div>
        </div>
    </div>
                        {{ form_end(form) }}
{% endblock %}    






{#{% extends '::base.html.twig' %}

{% block body -%}
    <h1>categoriablog creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_categoriablog') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
#}