
{% block body -%}
    <h1>Lista de Categoria</h1>

    <table class="records_list" border="1" cellspacing="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_categoria_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_categoria_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_categoria_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <h4>
                <a href="{{ path('admin_categoria_new') }}">
                    Crear una nueva Categoria
                </a>
            </h4>
        </li>
        <li>
            <h4>
                <a href="{{ path('admin_panel') }}">
                    Regresar al panel administrativo
                </a>
            </h4>
        </li>
    </ul>
    {% endblock %}
