{#{% extends '::base.html.twig' %}#}

 {%block head -%} 
    {% block css -%}    
        <link rel="stylesheet" href="{{ asset('Resources/bValidator-0.73/themes/bvalidator.theme.bootstrap.rt.css') }}" />
    {%- endblock %}
 {% endblock %}

 {% block body -%}
    <h1>Usuario creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_usuario') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts_step %}
        <script type="text/javascript" src="{{ asset('Resources/jquery/jquery_1.11.3.js')}}"></script>
        <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
        <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
        <script src="{{ asset('Resources/funciones_validacion/usuario.js') }}"></script>
       <script>
            $(document).ready(function(){
                validarUsuario();
            });
        </script>
{% endblock %}