{% block nav -%}
    <nav>
      <div style="height: 2px; background-color: #76B9C4;"></div>
        <div class="container-fluid">
            <div class="pull-left" style="margin-top: 20px;">
              <img src="{{ asset('Photos/index/logo.png')}}" style="margin-left: 30px; width: 350px; height: 90px; ">
            </div>
            <div class="pull-right" style="margin-top: 32px;">
                <ul style="display: inline;">
                    <a href="{{ path('admin_nosotros') }}"><li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Inicio </li></a>
                    <a href="{{ path('admin_nosotros') }}"><li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px; text" class="text-uppercase">Nosotros</li></a>
                    <a href="{{ path('admin_cirugia') }}"><li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Cirujias y Procedimientos </li></a>
                    <a href="{{ path('admin_tratamos') }}"><li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Que tratamos?</li></a>
                    <a href="{{ path('admin_galeria') }}"><li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Galeria</li></a>
                    <a href="{{ path('admin_blog') }}"><li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Blog</li></a>
                    <a href="{{ path('admin_contacto') }}"><li style="display: inline; padding: 20px; color: #8282820; font-family: 'Montserrat', sans-serif; font-weight: 400px; font-size: 13px;" class="text-uppercase">Contacto </li></a>
                </ul>
            </div>
        </div>
      <div style="height: 1px; background-color: #ddd; margin-top: 20px;"></div>
    </nav>
{%endblock%}