{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Subcategoria creation</h1>

    
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.nombre) }}
    {{ form_row(form.titulo) }}
    {{ form_row(form.descripcion) }}
    {{ form_row(form.idcategoria) }}
    {{ form_row(form.idproblema) }}
    {{ form_row(form.file) }}
        <!-- <ul class="record_actions">
    <li>
        <a href="{{ path('admin_subcategoria') }}">
            Back to the list
        </a>
    </li>
</ul> -->

   <div class="form-grouphide col-sm-12">
        <a href="{{ path('admin_subcategoria') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
        {{ form_widget(form.submit) }}
    </div>
	        
	  
	
	{{ form_end(form) }}
{% block javascripts_step %}
<script type="text/javascript" src="{{ asset('Resources/jquery/jquery_1.11.3.js')}}"></script>
<script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
<script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
<script src="{{ asset('Resources/funciones_validacion/usuario.js') }}"></script>
<script>
    $(document).ready(function(){
        validarUsuario();
    });
     {{ tinymce_init() }}
</script>
{% endblock %}
</script>
{% endblock %}

    