{#{% extends '::base.html.twig' %}#}

 {%block head -%} 
    {% block css -%}    
        <link rel="stylesheet" href="{{ asset('Resources/bValidator-0.73/themes/bvalidator.theme.bootstrap.rt.css') }}" />
        <link rel="stylesheet" href="{{ asset('Resources/bootstrap-3/css/bootstrap.css') }}" />
    {%- endblock %}
 {% endblock %}

 {% block body -%}
    
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="text-center"><h1>Panel Administrativo</h1></p>
            </div>
            <div class="col-md-4"></div>
            <div class="clearfix"></div>
        <a href="{{ path('admin_categoria') }}">
        Gestion Categoria
        </a>
        </div>
    </div>

{% endblock %}

{% block javascripts_step %}
        <script type="text/javascript" src="{{ asset('Resources/jquery/jquery_1.11.3.js')}}"></script>
        <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
        <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
        <script src="{{ asset('Resources/funciones_validacion/usuario.js') }}"></script>
       <script>
            $(document).ready(function(){
                validarUsuario();
            });
        </script>
{% endblock %}