{#{% extends '::base.html.twig' %}#}
<html lang="es">
    <head>
        {%block head -%} 
            {% block meta -%}
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
            {% endblock%}
            <!-- Las 3 meta tags de arriba siempre tienen que incluirse y todo lo demas tiene que venir despues -->
            {% block title -%}<title>{% block titlename -%}Sonodigest - El Salvador{% endblock %}</title>{% endblock %}

            <!-- Declaracion de Archivo de Bootstrap -->	
            {% block css -%}    
                <link rel="stylesheet" href="{{ asset('Resources/bValidator-0.73/themes/bvalidator.theme.bootstrap.rt.css') }}" />
                {# <link rel="stylesheet" href="{{ asset('Resources/bootstrap-3/css/bootstrap.css') }}" />#}
                <link rel="stylesheet" href="{{ asset('Resources/css/bootstrap.css') }}" />
                <link rel="stylesheet" href="{{ asset('Resources/css/style.css') }}" />
                <link rel="stylesheet" href="{{ asset('Resources/css/panel.css') }}" />
                {%- endblock %}
                {%- endblock%}
            </head>


            <body>
                {% block body -%}  
                    <div class="container">
                        <div class="row">
                            
                            <!-- Imagen Panel -->
                            {% block imagen %}
                                {% include 'SonodigestBundle:Layout:imagenpanel.html.twig'%}
                            {% endblock %}

                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center" style="margin-top: 5px;">
                                <p><h1>Panel Administrativo</h1></p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="clearfix"></div>

                            <!-- Botones Panel -->
                            {% block botones %}
                                {% include 'SonodigestBundle:Layout:botonespanel.html.twig'%}
                            {% endblock %}

                            <div class="clearfix"></div>

                            <div class="col-md-12 text-center hr"></div>
                            <div class="clearfix"></div>
                            
                            <a href="{{ path('admin_categoria') }}">
                                <div class="clearfix"></div>
                                <div class="col-md-3 text-center">
                                    <div class="color1" style="margin-top: 10px; height: 20%; ">

                                        <div style="padding-top: 30%;"><h4>Gestión Categoria</h4></div>

                                    </div>
                                </div>
                            </a>
                            <a href="{{ path('admin_subcategoria') }}">
                                <div class="col-md-3 text-center">
                                    <div class="color2" style="margin-top: 10px; height: 20%;">

                                        <div style="padding-top: 30%;"><h4>Gestión Subcategoria</h4></div>

                                    </div>
                                </div>
                            </a>
                            <a href="{{ path('admin_problema') }}">
                                <div class="col-md-3 text-center">
                                    <div class="color1" style="margin-top: 10px; height: 20%;">

                                        <div style="padding-top: 30%;"><h4>Gestión Problema</h4></div>

                                    </div>
                                </div>
                            </a>
                            <a href="{{ path('admin_categoriablog') }}">
                                <div class="col-md-3 text-center">
                                    <div class="color2" style="margin-top: 10px; height: 20%;">

                                        <div style="padding-top: 30%;"><h4>Gestión Categoria de Blog</h4></div>

                                    </div>
                                </div>
                            </a>
                                
                            {#Segunda fila de opciones del panel#}
                            <div class="clearfix"></div>
                            <a href="{{ path('admin_entrada') }}">
                                <div class="col-md-3 text-center">
                                    <div class="color1" style="margin-top: 10px; height: 20%;">

                                        <div style="padding-top: 30%;"><h4>Gestión Entradas de Blog</h4></div>

                                    </div>
                                </div>
                            </a>
                            <a href="{{ path('admin_categoriaimagen') }}">
                                <div class="col-md-3 text-center">
                                    <div class="color2" style="margin-top: 10px; height: 20%;">

                                        <div style="padding-top: 30%;"><h4>Gestión Galeria de Imagenes</h4></div>

                                    </div>
                                </div>
                            </a>
                            <a href="{{  path('admin_tipocarrusel_edit',{id:1}) }}">
                                <div class="col-md-3 text-center">
                                    <div class="color1" style="margin-top: 10px; height: 20%;">

                                        <div style="padding-top: 30%;"><h4>Gestión Carrusel</h4></div>

                                    </div>
                                </div>
                            </a>
                            {#<a href="{{ path('admin_categoriablog') }}">
                                <div class="col-md-3 text-center">
                                    <div class="color2" style="margin-top: 10px; height: 20%;">

                                        <h4>Gestión Subcategoria de Blog</h4>

                                    </div>
                                </div>
                            </a>#}
                                
                        </div>
                    </div>
                {% endblock %}

                {% block javascripts_step %}
                    <script type="text/javascript" src="{{ asset('Resources/jquery/jquery_1.11.3.js')}}"></script>
                    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
                    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
                    <script src="{{ asset('Resources/funciones_validacion/usuario.js') }}"></script>
                    <script>
                        $(document).ready(function () {
                            validarUsuario();
                        });
                    </script>
                {% endblock %}
            </body>
        </html>