{% extends 'SonodigestBundle:Layout:layoutpanel.html.twig' %}
{% block titulo %}Editar Entrada{% endblock %}

{% block bod -%}

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                {{ form_start(edit_form) }}
                {{ form_errors(edit_form) }}
                <div class="row" style="margin: 10px 0px; ">
                    <div class="col-md-2" style="padding-left: 0px;">{{ form_label(edit_form.titulo) }}</div>
                    {{ form_widget(edit_form.titulo) }}
                </div>
                <div class="row" style="margin: 10px 0px; ">
                    <div class="col-md-2" style="padding-left: 0px;">{{ form_label(edit_form.escritapor) }}</div>
                    {{ form_widget(edit_form.escritapor) }}
                </div>
                <div class="row" style="margin: 10px 0px; ">
                    {{ form_label(edit_form.contenido) }}
                    {{ form_widget(edit_form.contenido) }}
                </div>


                <div class="row" style="margin: 10px 0px; ">
                    <div class="col-md-2" style="padding-left: 0px;">{{ form_label(edit_form.idcategoria) }}</div>
                    {{ form_widget(edit_form.idcategoria) }}
                </div>
                <div class="row" style="margin: 10px 0px; "> 
                    <div class="col-md-12" style="padding-left: 0px;">
                        <div class="col-md-2" style="padding-left: 0px;">{{ form_label(edit_form.idimagen.file) }}</div>
                        <div class="col-md-10" style="padding-left: 0px;">{{ form_widget(edit_form.idimagen.file) }}</div>
                    </div>


                </div>


                {#{{ form_row(form.nombre) }}
                {{ form_row(form.titulo) }}
                {{ form_row(form.descripcion) }}
                {{ form_row(form.idcategoria) }}
                {{ form_row(form.idproblema) }}
                {{ form_row(form.file) }}#}
                <!-- <ul class="record_actions">
            <li>
                <a href="{{ path('admin_subcategoria') }}">
                    Back to the list
                </a>
            </li>
        </ul> -->

                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    <div class="text-center">{{ form_widget(edit_form.submit) }}</div>
                </div>
                <div class="col-md-3">
                    <a href="{{ path('admin_entrada') }}">
                        <div class="botonpanel">Regresar</div>
                    </a>
                </div>
                <div class="col-md-3">

                </div>
                <div class="clearfix"></div>

                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    {% block javascripts_step %}
        <script type="text/javascript" src="{{ asset('Resources/jquery/jquery_1.11.3.js')}}"></script>
        <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
        <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
        <script src="{{ asset('Resources/funciones_validacion/usuario.js') }}"></script>
        <script>
            $(document).ready(function () {
                validarUsuario();
            });
        </script>
        <script>
            {{ tinymce_init() }}
        </script>

    {% endblock %}

{% endblock %}
{#<h1>Entrada creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_entrada') }}">
            Back to the list
        </a>
    </li>
</ul>#}
