{% extends 'SonodigestBundle:Layout:layoutpanel.html.twig' %}
{% block titulo %}Editar Problema{% endblock %}
{% block cs -%}    
    <link rel="stylesheet" href="{{ asset('Resources/css/espacioprob.css') }}" />
    {%- endblock %}
    {% block bod -%}
        {#<h1>Problema edit</h1>#}
        <div class="container">
            <div class="row">

                <div class="col-md-1"></div>
                <div class="col-md-10">
                    {{ form_start(edit_form) }}
                    {{ form_errors(edit_form) }}
                    {#{{ form(edit_form) }}#}
                    <div class="row" style="margin: 10px 0px; ">
                        <div class="col-md-1" style="padding-left: 0px;">{{ form_label(edit_form.titulo) }}</div>
                        {{ form_widget(edit_form.titulo) }}
                    </div> 
                    <div class="row" style="margin: 10px 0px; ">
                        {{ form_label(edit_form.descripcion) }}
                        {{ form_widget(edit_form.descripcion) }}
                    </div> 
                    <div class="row" style="margin: 10px 0px; ">
                        <div class="col-md-2" style="padding-left: 0px;">{{ form_label(edit_form.file) }}</div>
                        {{ form_widget(edit_form.file) }}
                    </div> 
                </div>
                <div class="col-md-1"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-3 text-center">
                    {{ form_widget(edit_form._token)}}
                    {{ form(edit_form)}}
                </div>
                <div class="col-md-3 pull-left">
                    {{ form(delete_form) }}
                    {{ form_end(edit_form) }}</div> 
            </div>
            <div class="col-md-3"></div>

        </div>
    </div>
    {% block javascripts_step %}
        <script type="text/javascript" src="{{ asset('Resources/jquery/jquery_1.11.3.js')}}"></script>
        <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
        <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
        <script src="{{ asset('Resources/funciones_validacion/usuario.js') }}"></script>
        <script>
            $(document).ready(function () {
                validarUsuario();
            });
        </script>
        <script>
            {{ tinymce_init() }}
        </script>

    {% endblock %}
{% endblock %}
