{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Problema edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_problema') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% block javascripts_step %}
<script type="text/javascript" src="{{ asset('Resources/jquery/jquery_1.11.3.js')}}"></script>
<script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
<script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
<script src="{{ asset('Resources/funciones_validacion/usuario.js') }}"></script>
<script>
    $(document).ready(function(){
        validarUsuario();
    });
</script>
<script>
    {{ tinymce_init() }}
</script>

{% endblock %}
{% endblock %}
