{#{% extends '::base.html.twig' %}#}
{% extends 'SonodigestBundle:Layout:layoutpanel.html.twig' %}
{% block titulo %}Lista de Problemas{% endblock %}
{% block bod -%}

    <div class="container">
        <div class="row">
            
            <div class="col-md-6 text-center">
                <!-- Aqui se dibuja el formulario-->
                {{ form_start(form) }}
                <div class="text-center" >
                    <div class="col-md-2 text-left" style="padding-left: 0px;">
                        {{ form_label(form.titulo) }} 
                    </div>    
                    <div class="col-md-6 text-left">
                        {{ form_widget(form.titulo) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="clearfix"></div>
            
            <div class="col-md-12">
                {{ form_label(form.descripcion) }} 
                {{ form_widget(form.descripcion) }}
            </div>
            <div class="clearfix"></div>
            
            <div class="col-md-6 text-center">
                <!-- Aqui se dibuja el formulario-->
                {{ form_start(form) }}
                <div class="text-center">
                    <div class="col-md-3 text-left" style="padding-left: 0px; margin-top: 10px;">
                        {{ form_label(form.file) }} 
                    </div>    
                    <div class="col-md-9 text-left" style=" margin-top: 10px;">
                        {{ form_widget(form.file) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
            
            <div class="clearfix"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"><div class="text-center">
                    {#<a href="{{ path('admin_categoria') }}">
                        <div class="botonpanel"> Regresar a la listaxx </div>
                    </a>#}
                    {{ form_widget(form.submit) }}
                </div></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    {{ form_end(form) }}
    
    
    <div class="container" style="padding-top: 20px;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Titulo</th>
                            <th class="text-center">Foto</th>
                            <th class="text-center">Descripcion</th>
                            <th class="text-center">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                {#<td><a href="{{ path('admin_problema_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                                <td class="text-center">{{ entity.titulo }}</td>
                                <td class="text-center">{{ entity.foto }}</td>
                                <td style="width: 50%; padding: 0px 10px;">{{ entity.descripcion | raw }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('admin_problema_show', { 'id': entity.id }) }}">Ver</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_problema_edit', { 'id': entity.id }) }}">Editar</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {#<ul>
        <li>
            <h4>
                <a href="{{ path('admin_problema_new') }}">
                    Crear un nuevo problema
                </a>
            </h4>
        </li>
        <li>
            <h4>
                <a href="{{ path('admin_panel') }}">
                    Regresar al panel administrativo
                </a>
            </h4>
        </li>
    </ul>#}
{% block javascripts_step %}
<script type="text/javascript" src="{{ asset('Resources/jquery/jquery_1.11.3.js')}}"></script>
<script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
<script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
<script src="{{ asset('Resources/funciones_validacion/usuario.js') }}"></script>
<script>
    $(document).ready(function(){
        validarUsuario();
    });
     {{ tinymce_init() }}
</script>
{% endblock %}
{% endblock %}
