{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de problemas</h1>

    <table class="records_list" border="1" cellspacing="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Foto</th>
                <th>Descripcion</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_problema_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.foto }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_problema_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_problema_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <h4>
                <a href="{{ path('admin_problema_new') }}">
                    Crear un nuevo problema
                </a>
            </h4>
        </li>
         <li>
            <h4>
                <a href="{{ path('admin_panel') }}">
                    Regresar al panel administrativo
                </a>
            </h4>
        </li>
    </ul>
    {% endblock %}
