{#{% extends '::base.html.twig' %}#}
{#{% extends '::base.html.twig' #}
{% extends 'SonodigestBundle:Layout:layoutpanel.html.twig' %}
{% block titulo %}Lista de Problemas{% endblock %}

{% block bod -%}
    {#<h1>Problema</h1>#}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table-bordered" style="margin: 0 auto; width: 80%;">
                    <tbody>
                        {# <tr>
                             <th>Id</th>
                             <td>{{ entity.id }}</td>
                         </tr>#}
                        <tr>
                            <th class="text-center" style="width: 15%;">Titulo</th>
                            <td class="text-center">{{ entity.titulo }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">Foto</th>
                            <td>{{ entity.foto }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">Descripcion</th>
                            <td class="text-justify">{{ entity.descripcion | raw}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>                


        <div class="col-md-4 text-center"><a href="{{ path('admin_problema') }}"><div class="botonpanel">Regresar a la lista</div></a></div>                 
        <div class="col-md-4 text-center"><a href="{{ path('admin_problema_edit', { 'id': entity.id }) }}"><div class="botonpanel">Editar</div></a></div>                 
        <div class="col-md-44 text-center">{{ form(delete_form) }}</div>  
    </div>
    {#<ul class="record_actions">
        <li>
            <a href="{{ path('admin_problema') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('admin_problema_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>#}
{% endblock %}
